.menu{
    width: 18%;
    padding-top: 3vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: hsla(231, 48%, 48%, 1);
    border-radius: 100px;
}

.topics{
    margin-left: 1rem;
    width: 20%;
}

.menu-list-title{
    font-weight: bold;
}

.menu-list-item{
    text-decoration: none;
    display: block;
    margin-top: .625em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.menu-list-item-sub{
    padding-left:20px;
}

.menu-list-topic{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.visible{
    display: block;
}

.not-visible{
    display: none;
}