.unit{
    width: 81.25%;
    padding-right: 2rem;
    height: 80vh;
    overflow: auto;
    scrollbar-color: #D4AA70 #e4e4e4;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: hsla(231, 48%, 48%, 1);
    border-radius: 100px;
}

.unit-title{
    font-size: x-large;
    text-transform: uppercase;
    margin-top: 1rem;
}

.unit-title-image{
    width: 50%;
}

.unit-subtitle{
    font-size:  medium;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 1rem;
}

.unit-content{
    text-align: justify;
    text-justify: inter-word;
}

.unit-table{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.unit-image{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.unit-image2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
}

.unit-image3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.unit-image4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25%;
}

.unit-exercise{
    display:flex;
}

.unit-exercise-answers{
    width: 50%;
}

.unit-exercise-answer{
    display: block;
    text-align: left;
    padding-right: .5rem;
    margin-bottom: .5rem;
}

.unit-exercise-image{
    width: 50%;
}

.unit-exercise-button{
    width: 12rem;
}

.unit-exercise-button-text{
    margin-top: 1rem !important;
}

/*--- DETALLES ---*/

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}

.right-align{
    text-align: right;
}


/*YOUTUBE*/
.video-responsive {
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 25%;
    top: 0;
    height: 100%;
    width: 50%;
    position: absolute;
}