.menu{
    width: 20%;
}

.topics{
    width: 15%;
}

.menutopics-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list-title{
    font-weight: bold;
}

.menu-list-item{
    text-decoration: none;
    display: block;
    margin-top: .625em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.menu-list-item-sub{
    padding-left:20px;
}