@font-face {
  font-family: "OpenDyslexic";
  src: local("OpenDyslexic"),
   url("./font/OpenDyslexic3-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-dyslexic{
  font-family: "OpenDyslexic";
}

.font-segoe{
  font-family: "Segoe UI";
}

.night-mode{
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1200px){
    .font-dyslexic{
      font-size: small;
    }
}